<meta charset="UTF-8">


<h1>CUST UPDATE PAGE</h1>


<form action="updateimpl" method="post">
  <div class="form-group">
    <input type="hidden" class="form-control" name="id" th:value="${uprod.id}">
  </div>
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" name="name" th:value="${uprod.name}">
  </div>
   <div class="form-group">
    <label for="price">PRICE:</label>
    <input type="number" class="form-control" name="price" th:value="${uprod.price}">
  </div>
  <div class="form-group">
    <label for="rate">RATE:</label>
    <input type="text" class="form-control" name="rate" th:value="${uprod.rate}">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>