<div class="container-fluid">

              <!-- Page Heading -->
 <h1 class="h3 mb-2 text-gray-800">Product Tables</h1>
 <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
     For more information about DataTables, please visit the <a target="_blank"
         href="https://datatables.net">official DataTables documentation</a>.</p>

 <!-- DataTales Example -->
 <div class="card shadow mb-4">
     <div class="card-header py-3">
         <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
     </div>
     <div class="card-body">
         <div class="table-responsive">
             <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                 <thead>
                     <tr>
                         <th>ID</th>
                         <th>UID</th>
                         <th>PID</th>
                         <th>PNAME</th>
                         <th>PPRICE</th>
                         <th>CAATENAME</th>
                         <th>REGDATE</th>
                         <th>CNT</th>
                     </tr>
                 </thead>
                 <tfoot>
                     <tr>
                         <th>ID</th>
                         <th>UID</th>
                         <th>PID</th>
                         <th>PNAME</th>
                         <th>PPRICE</th>
                         <th>CAATENAME</th>
                         <th>REGDATE</th>
                         <th>CNT</th>
                     </tr>
                 </tfoot>
                 <tbody>
                     <tr th:each="c:${cart}">
                         <td th:text="${c.id}">Tiger Nixon</td>
                         <td th:text="${c.uid}">System Architect</td>
                         <td th:text="${c.pid}">Edinburgh</td>
                         <td th:text="${c.pname}">61</td>
                         <td th:text="${c.pprice}">2011/04/25</td>
                         <td th:text="${c.catename}">$320,800</td>
                         <td th:text="${#dates.format(c.regdate,'yyyy/MM/dd')}">$320,800</td>
                         <td th:text="${c.cnt}">$320,800</td>
                     </tr>
                    
                 </tbody>
             </table>
         </div>
     </div>
 </div>
