<script>
$(document).ready(function(){
	
	$('#update').click(function(){
		$('.user').attr({
			'method' : 'post',
			'action' : 'update'
		});
		$('.user').submit();
	});
	
});
</script>


<div class="col-lg-6">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Customer Information</h1>
        </div>
        <form class="user">
            <div class="form-group">
                ID<input type="text" class="form-control form-control-user"
                    name="id" readonly="readonly" th:value="${dcust.id}">
            </div>
            <div class="form-group">
                PWD<input type="text" class="form-control form-control-user"
                    name="pwd"  value="pwd01"th:value="${dcust.pwd}">
            </div>
            <div class="form-group">
                NAME<input type="text" class="form-control form-control-user"
                    name="name"  value="name"  th:value="${dcust.name}">
            </div>
            <div class="form-group">
                ADDR<input type="text" class="form-control form-control-user"
                    name="addr"value="addr"  th:value="${dcust.addr}">
            </div>
            <div class="form-group">
                REGDATE<input type="text" class="form-control form-control-user"
                    name="regdate" value="regdate"  
                    th:value="${#dates.format(dcust.regdate,'yyyy/MM/dd')}">
            </div>                         
            <a  id="update" class="btn btn-primary btn-user btn-block">
                Update
            </a>
            <a href="delete" class="btn btn-danger btn-user btn-block">
                Delete
            </a>

        </form>

    </div>
</div>
