<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Insert title here</title>
</head>
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/reset.css" />
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body class="main-screen">

    <h2 id="clock">00:00:00</h2>
    
    <form id="login-form" class="hidden">
    	<h1 >Hello, What's your name?</h1>
		<div class="login-formbox" >
	     	<input maxlength="15" type="text" name ="id" class="login-input" id="loginId"/>  
	     	<input type="email" name="email" pattern=".+@globex\.com" class="login-input hidden" id="loginEamil" > 
  			<input type="password" name="pwd" class="login-input hidden" id="loginpwd" > 
  			<input type="password" name="vpwd" class="login-input hidden" id="loginvpwd" > 			      	
  		</div>
  			
    </form>	

  
    <div class="id-input">
      <h1 id="greeting">What'up!! &nbsp <span  th:text="${rname}"></span></h1>
    </div>
    <div class="id-input2">
    <a href="main" >go to the DailyReport</a>
    </div>
    <div id="quote">
      <span></span><br><br>
      <span></span>
    </div>   
    <div id="weather">
      <span></span><br />
      <span></span>
    </div>
    <script src="js/greetings.js"></script>
    <script src="js/clock.js"></script>
    <script src="js/quotes.js"></script>
    <script src="js/background.js"></script>
    <script src="js/weather.js"></script>
  </body>
</html>

