
<div class="container-fluid">

              <!-- Page Heading -->
 <h1 class="h3 mb-2 text-gray-800">Cust Tables</h1>


 <!-- DataTales Example -->
 <div class="card shadow mb-4">
     <div class="card-header py-3">
         <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
     </div>
     <div class="card-body">
         <div class="table-responsive">
             <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                 <thead>
                     <tr>
                         <th>ID</th>
                         <th>Name</th>
                         <th>PID</th>
                     </tr>
                 </thead>
                 <tfoot>
                     <tr>
                         <th>ID</th>
                         <th>Name</th>
                         <th>PID</th>
                     </tr>
                 </tfoot>
                 <tbody>
                     <tr th:each="c:${cate}">
                     	<!--  /cust/detail?id=id -->
                         <td><a th:text="${c.id}" th:href="@{detail(id=${c.id})}">ID</a></td>
                         <td th:text="${c.name}">Name</td>
                         <td th:text="${c.pid}">Pid</td>
                     </tr>
                 </tbody>
             </table>
         </div>
     </div>
 </div>
 


 
