<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.mapper.CateMapper">

	<select id="select" parameterType="int" resultType="CateVO">
		SELECT * FROM cate WHERE ID=#{id}
	</select>
	
	<select id="selectsub" parameterType="int" resultType="CateVO">
		SELECT * FROM cate WHERE PID=#{id}
	</select>
	
	<select id="selectmain" resultType="CateVO">
		SELECT * FROM cate WHERE pid IS NULL
	</select>
	
	<select id="selectAll" resultType="CateVO">
		SELECT * FROM cate
	</select>
	<insert id="insert" parameterType="CateVO">
		INSERT INTO cate VALUES (#{id},#{name},#{pid})
	</insert>
	<update id="update" parameterType="CateVO">
		UPDATE cate SET NAME=#{name},PID=#{pid} WHERE ID=#{id}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM cate WHERE ID=#{id}
	</delete>	
</mapper>