<meta charset="UTF-8">
<style>
#jq04_header {
	color : coral;
	text-align: center;
};
#join_maindiv{
	margin-left: 120px;
}
.join_span{
	color:red;
}
</style>
<script>
function mandatoryInput(){
	var id = $('input[name="id"]').val();
	var pwd = $('input[name="pwd"]').val();
	var vpwd = $('input[name="vpwd"]').val();
	var name = $('input[name="name"]').val();
	var birth = $('input[name="birth"]').val();
	var phone = $('input[name="phone"]').val();
	// LOGIN 버튼 클릭 시
	// id 와 pwd 공란인지 확인 후
	// focus 이동 및 span 메시지 출력
	if ( id == ''){
		$('input[name="id"]').focus();
		$('#sid').text('필수정보입니다.');
		return;
	}
	if ( pwd == ''){
		$('input[name="pwd"]').focus();
		$('#spwd').text('필수정보입니다.');
		return;
	}
	if ( vpwd == ''){
		$('input[name="vpwd"]').focus();
		$('#svpwd').text('필수정보입니다.');
		return;
	}

	if ( name == ''){
		$('input[name="name"]').focus();
		$('#sname').text('필수정보입니다.');
		return;
	}
	if ( birth == ''){
		$('input[name="birth"]').focus();
		$('#sbirth').text('필수정보입니다.');
		return;
	}
	if ( phone == ''){
		$('input[name="phone"]').focus();
		$('#sphone').text('필수정보입니다.');
		return;
	}
	if (pwd !== vpwd){
		$('#svpwd').css('color','red');
		$('#svpwd').text("비밀번호가 일치하지않습니다.")
		$('input[name="vpwd"]').focus();
		return;
	}
	
	
	
	
	$('#register_form').attr({
		'action':'regiesterok2',
		'method':'post'
	});
	$('#register_form').submit();


	
};

function verifyingPwd(){
	const vpwd = $('input[name="vpwd"]').val();
	const pwd = $('input[name="pwd"]').val();
	if(pwd == vpwd){
		$('#svpwd').text("비밀번호가 일치합니다.")
		$('#svpwd').css('color','blue');
		$('button').attr('disabled',false)
	}else if (pwd !== vpwd){
		$('#svpwd').css('color','red');
		$('#svpwd').text("비밀번호가 일치하지않습니다.")
		$('button').attr('disabled',true)
		
	}
};

function checkid(id){
	$.ajax({
		url:'checkid2',
		data:{'id':id},
		success:function(data){
			if(data == '1'){
				$('#sid').text('사용 가능 합니다.');
				$('button').attr('disabled',false)
				
			}else if(data == '0'){
				$('#sid').text('한글은 사용 불가능 합니다.');
				$('button').attr('disabled',true)
			}
		}
	})
	
};

function checkPhone(){
	const phone = $('input[name="phone"]').val();

};

function blurId(){
	$('input[name="vpwd"]').blur(function(){
		$('#sid').text('');
	})
};
	
$(document).ready(function(){	
	$('button').attr('disabled',true)
	$('button').click(mandatoryInput);
	
	$('input[name="vpwd"]').keyup(verifyingPwd);
	
	$('input[name="id"]').keyup(function(){
		var id = $(this).val();
		var sid = $('#sid');
		if(id.length < 5){
			sid.text("5자리 이상이어야 합니다.");
			
		}else {
			checkid(id);
			sid.text('');

		}
			
	});
	
		
});


	
	



</script>



<div class="container col-sm-6" id = "join_maindiv">
	<h1 id="jq04_header">AJAX04 register</h1>
	<form id="register_form">
		<div class="form-group">
			<label for = "id">ID</label>
			<input type="text" id="id" name="id" class="form-control">
			<span id ="sid" class="join_span"></span>
		</div>
		<div class="form-group">
			<label for = "pwd">password</label>
			<input type="password" id="pwd" name="pwd" class="form-control">
			<span id ="spwd" class="join_span"></span>
		</div>
		<div class="form-group">
			<label for = "vpwd">verified-password</label>
			<input type="password" id="vpwd" name="vpwd" class="form-control">
			<span id ="svpwd" class="join_span"></span>
		</div>
		<div class="form-group">
			<label for = "name">name</label>
			<input type="text" id="name" name="name" class="form-control">
			<span id ="sname" class="join_span"></span>
		</div>
		<div class="form-group">
			<label for = "birth">birth</label>
			<input type="date" id="birth" name="birth" class="form-control">
			<span id ="sbirth" class="join_span"></span>
		</div>
		<div class="form-group">
			<label for = "sex">sex</label>
			<select name ="sex" class="form-control" required>
				<option value="male">male</option>
				<option value="male">female</option>
			</select>
			<span id ="sbirth" class="join_span"></span>
		</div>
		<div class="form-group">
			<label for = "phone">phone: 010-1234-1234</label>
			<input type="tel" id="phone" name="phone" class="form-control" 
			pattern = "[0-1]{3}-[0-9]{4}-[0-9]{4}" required >
			<span id ="sphone" class="join_span"></span>
		</div>
	</form>
	<button>JOIN</button>
</div>