<script>


$(document).ready(function(){

	
	$('#register_btn').click(function(){
		$('.user').attr({
			'enctype':'multipart/form-data',
			'method' : 'post',
			'action' : 'addimpl'
		});
		$('.user').submit();
	});
	
});
</script>
 <meta charset="utf-8">

<div class="col-lg-6">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Product Register</h1>
        </div>
        <form class="user">
            <div class="form-group">
                Name: <span id="ispan"></span><input type="text" class="form-control form-control-user"
                    name="name" >
            </div>
            <div class="form-group">
                PRICE<input type="number" class="form-control form-control-user"
                    name="price" >
            </div>
            <div class="form-group">
                CATEGORY: 
                <select name="cid" class="form-control form-control-item">
                	<option 
                	th:each="c:${clist}" 
                	th:if="${c.pid != null}"
                	th:value="${c.id}"
                	th:text="${c.name}">		
                	</option>
                </select>
            </div>
            <div class="form-group">
                IMG<input type="file" class="form-control form-control-user"
                    name="mf" >
            </div>
                     
            <a  id="register_btn" class="btn btn-primary btn-user btn-block">
                Register
            </a>
        </form>

    </div>
</div>
