<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	
	
<mapper namespace="com.mapper.CateMapper">
	
	<select id="select" parameterType="int" resultType="cate">
		SELECT * FROM cate WHERE ID=#{id}
	</select>
	<select id="selectAll" resultType="cate">
		SELECT * FROM cate
	</select>
	<insert id="insert" parameterType="cate">
		INSERT INTO cate VALUES (#{id},#{name},#{pid})
	</insert>
	<update id="update" parameterType="cate">
		UPDATE cate SET NAME=#{name},pid=#{pid} WHERE ID=#{id}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM cate WHERE ID=#{id}
	</delete>	
	
	
</mapper>






