<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<title>Insert title here</title>
<script>

</script>
</head>
<body>
	<h1>cust add page</h1>
	<h3><a href="/">Main</a></h3>
	<h3><a href="custselect">Cust SELECT</a></h3>
	
	<form action="custaddimpl" method="post">
		ID<input type="text" name="id">
		PWD<input type="password" name="pwd">
		NAME<input type="text" name="name">
		<input type="submit">
	</form>
	
</body>
</html>