<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Product Select Page</h1>
	<table>
		<thead>
			<tr><td>ID</td><td>Name</td><td>Price</td><td>DATE</td><td>RATE</td></tr>
		</thead>
		<tbody>
			<tr th:each = "p:${allproduct}">
				<td><a href ="productdetail" th:href="@{/productdetail(id=${p.id})}" th:text ="${p.id}"></a></td>
				<td th:text ="${p.name}"></td>
				<td th:text ="${p.price}"></td>
				<td th:text ="${#dates.format(p.regdate,'yyyy-MM-dd')}"></td>
				<td th:text ="${p.rate}"></td>
			</tr>
		</tbody>
	</table>
	
</body>
</html>