<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<title>Insert title here</title>
<script>

</script>
</head>
<body>
	<h1>Productadd page</h1>
	<h3><a href="/">Main</a></h3>
	<h3><a href="productselect">Product SELECT</a></h3>
	
	<form action="productaddimpl" method="post">
		NAME<input type="text" name="name">
		PRICE<input type="text" name="price">
		RATE<input type="text" name="rate">
		<input type="submit">
	</form>
	
</body>
</html>