@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Nanum+Gothic:wght@400;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


.hidden {
  display: none;
}

.hidden2 {
  display: none;
}

.main-screen{
	display:flex;
	flex-direction:column;
	height: 100vh;
	position: relative;
	margin : 0;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


#login-form > h1 {
	padding-top: 100px;
	color:white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 50px;
}

#login-form{
	padding-top:50px;
	
}

.login-formbox{
	display:flex;
	justify-content: center;
	padding-top:50px;
	
}

.login-input{
	width: 650px;
	font-size : 60px;
	text-align:center;
	border: 3px solid white;
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: transparent;
	color : white;
	font-family: 'Open Sans', sans-serif;
}

#loginBackBtn{
	width: 100px;
	height: 30px;
	margin-left: 730px;
	border-radius : 20px;
	border : 1px solid white;
	color : white;
	background-color: transparent;
}
#loginBackBtn:hover{
	font-weight: bold;
	border : 3px solid white;
	cursor: pointer;
}


#waringtext{
	color: white;
	background-color: rgba(0,0,0,0.5);
	text-decoration: underline;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

#textbox{
	padding: 15px;
	text-align: center;
}



.id-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:50px;
}

.id-input2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:150px;
}

.id-input2 > a {
	color:white;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

.id-input2 > a:hover{
	font-size : 1.5em;
	font-weight: bold;
	
}

#greeting {
	padding-top: 70px;
	font-family: 'Open Sans', sans-serif;
	font-size: 55px;
	font-weight: 600;
	color : white;
}



#quote {
  	display:block;
  	width:100%;
  	position: absolute;
  	text-align:center;
	bottom:50px;
}

#quote span{
  color : white;
  background-color: rgba(0,0,0,0.5);
  width: 0;
  font-family: 'Open Sans', sans-serif;
}


#clock{
	display: flex;
	justify-content: center;
	align-items: cneter;
	padding-top: 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 80px;
	color : white;
	opacity: 0.8;
}

#weather {
  position: absolute;
  right : 50px;
  top : 25px;
  color : white;
}


