<script>

function sendID(id){
	$.ajax({
		url:'/checkid',
		data:{'id':id},
		success:function(data){
			if(data == '1'){
				$('#ispan').text('사용 불가능한 ID');
			}else{
				$('#ispan').text('사용 가능한 ID');
			}
		}
	})
};

$(document).ready(function(){
	$('input[name="id"]').keyup(function(){
		var id = $(this).val();
		sendID(id);
	});
	
	
	$('#register_btn').click(function(){
		$('.user').attr({
			'method' : 'post',
			'action' : 'addimpl'
		});
		$('.user').submit();
	});
	
});
</script>
 <meta charset="utf-8">

<div class="col-lg-6">
    <div class="p-5">
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Customer Register</h1>
        </div>
        <form class="user">
            <div class="form-group">
                ID <span id="ispan"></span><input type="text" class="form-control form-control-user"
                    name="id" >
            </div>
            <div class="form-group">
                PWD<input type="text" class="form-control form-control-user"
                    name="pwd" >
            </div>
            <div class="form-group">
                NAME<input type="text" class="form-control form-control-user"
                    name="name"  >
            </div>
            <div class="form-group">
                ADDR<input type="text" class="form-control form-control-user"
                    name="addr" >
            </div>
                     
            <a  id="register_btn" class="btn btn-primary btn-user btn-block">
                Register
            </a>
        </form>

    </div>
</div>
